manifest {
    author = 'Charles Plessy'
    description = 'Pairwise genome comparison'
    name = 'pairwiseGenomeComparison'
    homePage = 'TBD'
    nextflowVersion = '>=21.04.0'
    version = '0.0.0'
}

params {
    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
}

// Load nf-core custom profiles from different Institutions
try {
    includeConfig "${params.custom_config_base}/nfcore_custom.config"
} catch (Exception e) {
    System.err.println("WARNING: Could not load nf-core/config profiles: ${params.custom_config_base}/nfcore_custom.config")
}
