manifest {
    author = 'Charles Plessy'
    description = 'Pairwise genome comparison'
    name = 'pairwiseGenomeComparison'
    homePage = 'TBD'
    nextflowVersion = '>=21.04.0'
    version = '0.0.0'
}

params {
// nf-core test data
    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"

// nf-core parameters
    params.enable_conda                      = false
    params.outdir                            = './results'
    params.publish_dir_mode                  = 'copy'
    params.singularity_pull_docker_container = false
}

// Load nf-core custom profiles from different Institutions
try {
    includeConfig "${params.custom_config_base}/nfcore_custom.config"
} catch (Exception e) {
    System.err.println("WARNING: Could not load nf-core/config profiles: ${params.custom_config_base}/nfcore_custom.config")
}

// Base directory for nf-core test data
def test_data_dir = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data"
// Subset of nf-core test data
params {
    test_data {
        'sarscov2' {
            'genome' {
                genome_fasta                                   = "${test_data_dir}/genomics/sarscov2/genome/genome.fasta"
                genome_gff3                                    = "${test_data_dir}/genomics/sarscov2/genome/genome.gff3"
                genome_gtf                                     = "${test_data_dir}/genomics/sarscov2/genome/genome.gtf"
                genome_sizes                                   = "${test_data_dir}/genomics/sarscov2/genome/genome.sizes"

                transcriptome_fasta                            = "${test_data_dir}/genomics/sarscov2/genome/transcriptome.fasta"
                transcriptome_paf                              = "${test_data_dir}/genomics/sarscov2/genome/transcriptome.paf"

                contigs_genome_maf_gz                          = "${test_data_dir}/genomics/sarscov2/genome/alignment/last/contigs.genome.maf.gz"
                contigs_genome_par                             = "${test_data_dir}/genomics/sarscov2/genome/alignment/last/contigs.genome.par"
                lastdb_tar_gz                                  = "${test_data_dir}/genomics/sarscov2/genome/alignment/last/lastdb.tar.gz"
            }
            'illumina' {
                contigs_fasta                                  = "${test_data_dir}/genomics/sarscov2/illumina/fasta/contigs.fasta"
                scaffolds_fasta                                = "${test_data_dir}/genomics/sarscov2/illumina/fasta/scaffolds.fasta"
            }
        }
    }
}
